body {
    width: auto;
    height: 1000px;
    display: flex;
    justify-content: center;
    
    
    background-color: white;
}

* {
    font-family: 'Hind', sans-serif;
}

h1 {
    font-family: 'Lobster', cursive;
}

.container {
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: fit-content;
    padding: 20px;
}
